<html>
    <title>Edit new restaurant</title>
    <body>
        <p>This is edit restaurant documents page.</p>
        <p>Please enter the following items:</p>
        <% for (var r of restaurants) { %>
        <form action = "/update?_id=<%= r._id %>" method = "POST" enctype="multipart/form-data" >

            1. Restaurant ID : <input type = "text" name = "id" value="<%= r.id %>"><br>

            2. Name : <input type = "text" name = "name" value="<%= r.name %>" required><br>

            3. Borough : <input type = "text" name = "borough" value="<%= r.borough %>"><br>

            4. Cuisine : <input type = "text" name = "cuisine" value="<%= r.cuisine %>"><br>

            <% if(r.photo == null) { %>
            5. Photo : <input type = "file" name = "image" ><br>
            <% } else {%>
                5. Photo : <input type = "file" name = "image" value="<%= r.photo.image %>"><br>

                <% } %>
            6. Address :
            street <input type = "text" name = "street" value="<%= r.address.street %>">
            building <input type = "text" name = "building" value="<%= r.address.building%>">
            zipcode <input type = "text" name = "zipcode" value="<%= r.address.zipcode %>">
            coord <input type = "text" name = "coord" value="<%= r.address.coord  %>"><br>
            <% } %>

            <input type = "hidden" name = "owner" value="<%=r.owner %>" ><br>
            <br><br>
            <input type = "submit" value = "SUBMIT"></input>

    </form>
    </body>
</html>
